<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create User</a>
    </div>
    <div class="form-add-new ">
        <form action="/delete-user" method="post">
            <fieldset>
                <legend>Delete user:</legend>
                <div class="input-group" style="display: none;">
                    <label>Id:</label>
                    <input type="text" name="id" value="<%= user.id %>" />
                </div>

                <div class="input-group">
                    <label>Are you sure to delete this user with email:</label>
                    <input type="text" name="email" value="<%= user.email %>" disabled />
                </div>

                <div>
                    <button>Delete</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>